body {
    padding: 0;
    margin: 0;
}

header {
    background: #53a2f4;
    padding-top: 60px;
    padding-bottom: 100px;
}

.container {
    width: 1200px;
    margin: 0 auto; 
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offer {
    width: 700px;
    color:white;
}

.logo {
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 5px;
}

.title_span {
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.offer_text {
    font-size: 16px;
    width: 350px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.btn {
    width: 220px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(233, 186, 46);
    transition: all 0.5;
}

.btn:hover{
    background-color: rgb(172, 138, 37);
    box-shadow: 4px 4px 4px rgb(172, 138, 37);
}

.header_img {
    display: flex;
    margin-top: 45px;
    height: 400px;
    width: 480px;
}


.main {
    padding: 50px 0 50px 0;
}

.main_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.main_block {
    display: flex;
    justify-content: space-between;
}

.blocks {
    text-align: center;
    width: 25%;
}

.blocks img {
    margin-bottom: 20px;
}


.feedback {
    background-color: rgb(236,243,248);
    padding: 50px 0 50px 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_input {
    width: 300px;
    height: 35px;
    margin-bottom: 15px;
}

.form_btn {
    width: 310px;
    height: 55px;
    color: black;
    font-size: 14px;
    background-color: rgb(255,212,41);
    margin-bottom: 30px;
}

.form_btn:hover{
    background-color: rgb(255, 191, 0);
    box-shadow: 8px 8px 8px rgb(109, 88, 24);
}


footer {
    background: rgb(37,37,217);
    background: linear-gradient(0deg, rgb(150, 201, 241) 0%, rgb(41,136,214) 50%, rgb(8, 53, 100) 100%);    padding-top: 30px;
    padding-bottom: 30px;
}

.order {
    background: rgb(79, 226, 91);
    padding-top: 60px;
    padding-bottom: 100px;
}

.ordertitle {
    color:white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.form_slc {
    width: 310px;
    height: 40px;
    margin-bottom: 15px;
}



.footer_text {
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}


@media screen and (max-width: 1200px) 
{
    .container{
        width: 960px;
    }
}

@media screen and (max-width: 992px) 
{
    .container{
        width: 720px;
    }
    .wrapper{
        flex-direction: column;
    }
    .offer{
        width: 100%;
        margin-top: 40px;
    }
    .offer_text{
        width: 80%;
    }
    .header_img {
        display: none;
    }



}


@media screen and (max-width: 768px) 
{
    .container{
        width: 540px;
    }

        .main_title {
        margin-bottom: 20px;
    }

    .feedback {
        padding: 15px 0px 15px 0px;
    }

    .logo {
        margin-bottom: 10px;
    }
    
    header {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .main {
        padding: 25px 0px 25px 0px;
    }

    .main img {
        margin: 0px;
    }
}


@media screen and (max-width: 576px) 
{
    .container{
        width: 90%;
    }
    
    .blocks {
        width: 60%;
    }

    .form_input {
        width: 90%;
    }

    .form_btn {
        width: 95%;
    }

    .main_block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}