.main {
  padding: 50px 0 50px 0;
}

.main_title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.main_block {
  display: flex;
  justify-content: space-between;
}

.blocks {
  text-align: center;
  width: 25%;
}

.blocks img {
  margin-bottom: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto; 
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}